<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="processedMessage"
                    converterClass="com.ouroboros.HttpRestLogConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %thread %-5level %logger{36} - %processedMessage%n</Pattern>
        </encoder>
    </appender>
     
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
